body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 18px;
}
.container {
  display: flex;
  margin-left: 500px;
  flex-direction: column;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #80e1b9;
  padding: 20px;
  position: fixed;
  margin-top: 1vh;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 30px 3px #80e1b9;
  box-shadow: 1px 1px 30px 3px #80e1b9;
  margin-left: 1vh;
  padding-top: 5;
  height: 90vh;
  overflow-y: scroll;
}
.TOC {
  list-style-type: none;
  margin-left: -4vh;
}
hr {
  color: #fff;
  border: 2px solid #fff;
  margin: 20px 0;
}

.nav-links {
  color: #333;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.nav-links:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 0px 7px rgba(255, 255, 255, 0.79);
  box-shadow: 0px 2px 0px 7px rgba(255, 255, 255, 0.79);
  background-color: #80e1b9;
}
.sidebar .external-link {
  display: inline-block;
  margin-top: 10px;
  margin-left: -1vh;
  padding: 6px 12px;
  background-color: #357abd;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

.sidebar .external-link:hover {
  color: #ffffff;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 0px 7px rgba(255, 255, 255, 0.79);
  box-shadow: 0px 2px 0px 7px rgba(255, 255, 255, 0.79);
}
.HTML-part {
  background-color: #357abd;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
strong:not(.noviolet) {
  color: #8b80e1;
}
h1 {
  color: #80e1b9;
}
h2 {
  border-bottom: 0.5px solid black;
  color: #357abd;
}
ul li:not(.TOC li) {
  margin-bottom: 10px;
}
.nav-el {
  font-size: 18px;
  font-weight: bolder;
}
li {
  list-style: none;
}
section#terms strong::after {
  content: ':';
}
section#terms p {
  text-align: center;
  text-decoration: underline;
}
h3 {
  color: #4413b7;
}
pre {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  overflow-x: visible;
}
