body {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  max-width: 900px;
  margin: 0;
  height: 100vh;
}
h1 {
  text-align: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  position: fixed;
  margin-top: 0%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 30px 3px #80a6e1;
  box-shadow: 1px 1px 30px 3px #80a6e1;
  margin-left: 60px;
  padding-bottom: 30;
  padding-top: 30;
  height: 80vh;
  overflow-y: scroll;
}

.sidebar ul {
  list-style-type: none;
  margin-left: 0;
}

.sidebar a {
  color: #333;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.sidebar a:hover {
  color: #004080;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 540px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #004080;
  text-align: center;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
  margin-top: 1.5em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.2em;
}

h3 {
  font-size: 1.3em;
  margin-top: 1.2em;
  color: rgb(105, 0, 242);
}

p {
  margin: 0.8em 0;
}

code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

pre {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 6px;
  overflow-x: visible;
}
pre:hover {
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 30px 3px #80a6e1;
  box-shadow: 1px 1px 30px 3px #80a6e1;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  padding-left: 1.5em;
  list-style: none;
}

li {
  margin-bottom: 0.5em;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 2em 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #004080;
  color: white;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}
strong {
  color: #004080;
}
.sidebar .external-link {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar .external-link:hover {
  background-color: #357abd;
  text-decoration: none;
}
